@model X.PagedList.IPagedList<BaiGiuaKy.Models.Product>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#autocomplete").autocomplete({
                source: '/Admin/Product/AutocompleteSearch'
            });
        });
    </script>
}

<h1 class="text-center my-4">Sản Phẩm</h1>
@using (Html.BeginForm("Search", "Product", FormMethod.Get))
{
    <p>
        <div style="text-align: right;">
            Tìm kiếm: <input type="text" id="autocomplete" name="searchString" />
            <input type="submit" value="Tìm kiếm" class="btn btn-primary">
        </div>
    </p>
}

    <div class="card-header">
        <h3 class="card-title">Danh Sách Sản Phẩm</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      
<table class="table">
    <p>
                <a asp-action="Add">Thêm Sản Phẩm</a>
    </p>
            <table id="example1" class="table table-bordered table-striped">
    
    <thead>
        <tr>
            <th>Tên</th>
            <th>Giá</th>
            
            <th>Hình ảnh</th>
            <th>Loại sản phẩm</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                


                <td>
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" alt="Product Image" style="max-width: 200px;" />
                    }
                </td>

                <td>@(product.Category != null ? product.Category.Name : "No Category")</td>

                <td>
                    <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-primary"><i class="fa fa-eye"></i>Xem</a> |
                            <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-secondary"><i class="fa fa-pencil"></i>Chỉnh sửa</a> |
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger"><i class="fa fa-trash"></i>Xóa</a>

                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=1">Đầu</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageNumber - 1)">Trước</a>
                </li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.PageNumber + 1)">Tiếp</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=@Model.PageCount">Cuối</a>
                </li>
            }
        </ul>
    </nav>
</div>